{% extends "base.html" %} 

{% load static %}

{% load i18n %} 

{% block title %}

{%trans "Início" %}

{% endblock %}

{% block content %}

<style>
  .swiper {
    border-radius: 10px;
  }
</style>
<section class="text-center py-5 animate__animated animate__fadeInDown">
  <h1 class="display-4 fw-bold mb-3">João Marcos Maia</h1>
</section>

<section
  class="text-center animate__animated animate__fadeInUp animate__delay-1s"
>
  <p class="lead mb-4">{% trans "Engenheiro de Software Full-stack." %}</p>
  <section class="my-5">
    <div class="swiper py-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide text-center px-3">
          <i class="devicon-python-plain colored fs-1"></i>
          <div class="small mt-2 text-white">Python</div>
        </div>
        <div class="swiper-slide text-center px-3">
          <i class="devicon-django-plain fs-1"></i>
          <div class="small mt-2 text-white">Django</div>
        </div>
        <div class="swiper-slide text-center px-3">
            <img
            src="{% static 'core/img/bubble_icon.png' %}"
            width="50"
            class="me-2"
          style="border-radius: 20%" alt="Bubble Icon"
          /><div class="small mt-2 text-white">Bubble</div>
          </div>
        <div class="swiper-slide text-center px-3">
          <i class="devicon-bootstrap-plain colored fs-1"></i>
          <div class="small mt-2 text-white">Bootstrap</div>
        </div>
        <div class="swiper-slide text-center px-3">
          <i class="devicon-postgresql-plain fs-1"></i>
          <div class="small mt-2 text-white">PostgreSQL</div>
        </div>
        <div class="swiper-slide text-center px-3">
          <i class="devicon-git-plain colored fs-1"></i>
          <div class="small mt-2 text-white">Git</div>
        </div>
        <div class="swiper-slide text-center px-3">
          <i class="devicon-html5-plain colored fs-1"></i>
          <div class="small mt-2 text-white">HTML5</div>
        </div>
        <div class="swiper-slide text-center px-3">
          <i class="devicon-javascript-plain colored fs-1"></i>
          <div class="small mt-2 text-white">JavaScript</div>
        </div>
      
       
        <div class="swiper-slide text-center px-3">
          <img
            src=" https://raw.githubusercontent.com/tandpfun/skill-icons/65dea6c4eaca7da319e552c09f4cf5a9a8dab2c8/icons/C.svg"
            width="50"
            class="me-2"
          /><div class="small  text-white">C</div>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% trans "Curriculo" %}</h5>
          <p class="card-text">{% trans "Veja meu currículo profissional" %}</p>
          <a href="{% url 'sobre_mim' %}" class="btn btn"
            >{% trans "Ver Curriculo" %}</a
          >
        </div>
      </div>
    </div>
   
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% trans "Projetos" %}</h5>
          <p class="card-text">{% trans "Ver projetos" %}</p>
          <a href="{% url 'projetos' %}"class="btn btn"
            >{% trans "Ver projetos" %}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
